@font-face {
  font-family: Nord;
  src: url('../fonts/Nord-Bold.ttf') format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

:root {
  --untitled-ui-gray600: #5c6b5f;
  --gray: #464849;
  --untitled-ui-white: white;
  --untitled-ui-primary700: #6941c6;
  --untitled-ui-gray900: #101828;
  --untitled-ui-primary600: #7f56d9;
  --untitled-ui-primary100: #f4ebff;
  --untitled-ui-gray700: #344054;
  --untitled-ui-gray300: #d0d5dd;
  --untitled-ui-primary50: #f9f5ff;
  --untitled-ui-primary300: #d6bbfb;
  --untitled-ui-gray500: #667085;
  --slate-grey: #e0e0d9;
  --walsh-walsh-dark-green: #204f58;
}

.w-layout-layout {
  grid-row-gap: 20px;
  grid-column-gap: 20px;
  grid-auto-columns: 1fr;
  justify-content: center;
  padding: 20px;
}

.w-layout-cell {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.w-layout-grid {
  grid-row-gap: 16px;
  grid-column-gap: 16px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.w-form-formrecaptcha {
  margin-bottom: 8px;
}

.body {
  font-family: Merriweather, serif;
  font-size: 16px;
  line-height: 1.45;
}

.defaultsection {
  background-color: var(--untitled-ui-gray600);
  -webkit-text-fill-color: inherit;
  background-clip: border-box;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 5vh;
  padding-bottom: 5vh;
  display: flex;
}

.defaultsection.white {
  background-color: #ffffff5c;
}

.defaultsection.ministries {
  background-color: #647c7ca8;
}

.defaultsection.ministries.swapped {
  background-color: #0000;
  flex-direction: column-reverse;
}

.defaultsection.cream {
  background-color: #ecece5;
}

.navbar-logo-left {
  background-color: #fff;
}

.navbar-logo-left-container {
  z-index: 5;
  background-color: #0000;
  width: 1030px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 15px 20px;
}

.navbar-logo-left-container.shadow-three {
  width: 100%;
  max-width: 1140px;
  margin-bottom: 0;
  padding-top: 20px;
  padding-bottom: 20px;
}

.container-2 {
  width: 100%;
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
}

.navbar-wrapper {
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.navbar-brand {
  width: 225px;
}

.nav-menu-two {
  justify-content: center;
  align-items: center;
  margin-bottom: 0;
  padding-left: 0;
  display: flex;
}

.nav-link {
  color: #1a1b1f;
  letter-spacing: .25px;
  margin-left: 5px;
  margin-right: 5px;
  padding: 5px 10px;
  font-size: 14px;
  line-height: 20px;
  text-decoration: none;
}

.nav-link:hover {
  color: #1a1b1fbf;
}

.nav-link:focus-visible, .nav-link[data-wf-focus-visible] {
  outline-offset: 0px;
  color: #0050bd;
  border-radius: 4px;
  outline: 2px solid #0050bd;
}

.nav-dropdown {
  margin-left: 5px;
  margin-right: 5px;
}

.nav-dropdown-toggle {
  letter-spacing: .25px;
  padding: 5px 30px 5px 10px;
  font-size: 14px;
  line-height: 20px;
}

.nav-dropdown-toggle:hover {
  color: #1a1b1fbf;
}

.nav-dropdown-toggle:focus-visible, .nav-dropdown-toggle[data-wf-focus-visible] {
  outline-offset: 0px;
  color: #0050bd;
  border-radius: 5px;
  outline: 2px solid #0050bd;
}

.nav-dropdown-icon {
  margin-right: 10px;
}

.nav-dropdown-list {
  background-color: #fff;
  border-radius: 12px;
}

.nav-dropdown-list.w--open {
  padding-top: 10px;
  padding-bottom: 10px;
}

.nav-dropdown-link {
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 14px;
}

.nav-dropdown-link:focus-visible, .nav-dropdown-link[data-wf-focus-visible] {
  outline-offset: 0px;
  color: #0050bd;
  border-radius: 5px;
  outline: 2px solid #0050bd;
}

.hero {
  background-image: url('../images/CBC-Home-Background.jpg');
  background-position: 0 38%;
  background-size: cover;
  border-bottom: 0 solid #e4ebf3;
  border-radius: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 70vh;
  padding: 0 30px 80px;
  display: flex;
  position: relative;
}

.hero.secondary {
  object-position: 50% 0%;
  background-image: linear-gradient(#2e3642b8, #2e3642b8);
  height: 25vh;
  padding-bottom: 0;
}

.container-grid {
  width: 100%;
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
}

.hero-wrapper-two {
  z-index: 1;
  text-align: center;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  max-width: 750px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  position: relative;
}

.main-hero-text {
  z-index: 1;
  color: #fff;
  text-align: center;
  width: 11ch;
  font-family: Nord, sans-serif;
  font-size: 50px;
  line-height: 1.45;
  position: relative;
}

.image-16 {
  z-index: -2;
  object-fit: cover;
  object-position: 50% 7%;
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0%;
}

.div-block {
  z-index: 0;
  border: 10px solid #647c7c;
  width: 260px;
  height: 392px;
  position: absolute;
  top: -41px;
}

.column {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 30px;
  padding-right: 20px;
  display: flex;
}

.column.leftcontent {
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
}

.columns {
  justify-content: center;
  align-items: center;
  display: flex;
}

.columns.swapped {
  flex-direction: row-reverse;
}

.maincontent {
  text-align: center;
  padding-top: 25px;
  padding-bottom: 25px;
}

.paragraph {
  color: #fff;
  text-align: left;
  margin-bottom: 0;
  font-family: Montserrat, sans-serif;
  font-size: 21px;
  line-height: 2.1;
}

.mainbutton {
  background-color: var(--gray);
  padding: 5px 20px;
}

.column-2 {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 0;
  padding-right: 0;
  display: flex;
}

.imagecasing {
  width: 400px;
}

.image-17 {
  object-fit: cover;
}

.div-block-3 {
  object-fit: cover;
  object-position: 50% 0%;
}

.image {
  width: 395px;
}

.column-3 {
  justify-content: center;
  align-items: center;
  display: flex;
}

.columns-2 {
  justify-content: center;
  align-items: center;
  margin-top: 25px;
  margin-bottom: 25px;
  display: flex;
}

.footer-light {
  border-bottom: 1px solid #e4ebf3;
  padding: 80px 30px 40px;
  position: relative;
}

.container {
  width: 100%;
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
}

.footer-wrapper-two {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template: ". . . . Area"
                 ". . . . ."
                 / 1fr 1fr 1.5fr 1fr 1fr;
  grid-auto-columns: 1fr;
  justify-content: space-between;
  align-items: center;
  display: grid;
}

.footer-brand {
  width: 224px;
}

.footer-block-two {
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  display: flex;
}

.footer-title {
  text-align: center;
  justify-content: flex-start;
  align-items: flex-start;
  font-size: 18px;
  font-weight: 700;
  line-height: 32px;
}

.footer-title.left {
  text-align: left;
  font-weight: 700;
}

.footer-link-two {
  color: #1a1b1f;
  text-align: left;
  margin-top: 2px;
  margin-bottom: 2px;
  text-decoration: none;
}

.footer-link-two:hover {
  color: #1a1b1fbf;
}

.footer-link-two.contact {
  width: 23ch;
}

.footer-form {
  width: 315px;
  max-width: 100%;
  margin-bottom: 0;
}

.footer-form-block {
  justify-content: center;
  align-items: center;
  margin-top: 24px;
  display: flex;
}

.footer-form-field {
  border: 1px solid #a6b1bf;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  height: 48px;
  margin-bottom: 0;
  padding: 12px 16px;
  font-size: 14px;
  line-height: 22px;
  transition: all .2s;
}

.footer-form-field:hover, .footer-form-field:focus {
  border-color: #76879d;
}

.footer-form-field::placeholder {
  color: #1a1b1fcc;
  font-size: 14px;
  line-height: 22px;
}

.footer-form-submit {
  background-color: #1a1b1f;
  background-image: url('../images/');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: auto;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  width: 50px;
  height: 48px;
  transition: all .2s;
}

.footer-form-submit:hover {
  background-color: #3a4554;
}

.footer-divider-two {
  background-color: #e4ebf3;
  width: 100%;
  height: 1px;
  margin-top: 40px;
  margin-bottom: 40px;
}

.footer-bottom {
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.footer-copyright {
  color: #3a4554;
}

.footer-social-block-two {
  justify-content: flex-start;
  align-items: center;
  margin-top: 0;
  margin-bottom: 10px;
  display: flex;
}

.footer-social-link {
  margin-left: 12px;
}

.column-5 {
  flex-direction: column;
  padding-left: 10px;
  padding-right: 0;
  display: flex;
}

.column-6 {
  flex-direction: column;
  display: flex;
}

.link-block {
  display: block;
}

.heading-6, .paragraph-4 {
  text-align: center;
}

.socialline {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  display: flex;
  position: static;
  inset: 30% 0% 0% -7%;
}

.socialicon {
  z-index: 2000;
  width: 30px;
  margin-left: 10px;
  margin-right: 10px;
  position: relative;
}

.image-19 {
  filter: invert();
  mix-blend-mode: normal;
}

.image-20 {
  filter: invert();
}

.image-21, .image-22 {
  width: 28px;
}

.link {
  color: #000;
}

.error-text {
  color: #e23939;
}

.error-message {
  margin-top: 1.5rem;
  padding: .875rem 1rem;
}

.success-text {
  font-weight: 600;
}

.success-message {
  background-color: #f4f4f4;
  padding: 1.5rem;
}

.uui-button {
  grid-column-gap: .5rem;
  background-color: var(--untitled-ui-gray600);
  color: var(--untitled-ui-white);
  text-align: center;
  white-space: nowrap;
  border: 1px solid #0000;
  border-radius: .5rem;
  justify-content: center;
  align-items: center;
  padding: .625rem 1.125rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5;
  text-decoration: none;
  transition: all .3s;
  display: flex;
  box-shadow: 0 1px 2px #1018280d;
}

.uui-button:hover {
  border-color: var(--untitled-ui-primary700);
  background-color: var(--untitled-ui-gray900);
}

.uui-button:focus {
  background-color: var(--untitled-ui-primary600);
  box-shadow: 0 1px 2px 0 #1018280d, 0 0 0 4px var(--untitled-ui-primary100);
}

.uui-form-button-wrapper {
  flex-direction: column;
  margin-top: .5rem;
  display: flex;
}

.uui-text-style-link {
  color: var(--untitled-ui-gray600);
  text-decoration: underline;
  transition: color .3s;
}

.uui-text-style-link:hover {
  color: var(--untitled-ui-gray700);
}

.uui-form-checkbox-label {
  color: var(--untitled-ui-gray700);
  margin-bottom: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5;
}

.uui-form-checkbox-icon {
  border: 1px solid var(--untitled-ui-gray300);
  background-color: var(--untitled-ui-white);
  cursor: pointer;
  border-radius: .375rem;
  width: 1.25rem;
  min-width: 1.25rem;
  height: 1.25rem;
  min-height: 1.25rem;
  margin-top: 0;
  margin-left: -1.25rem;
  margin-right: .75rem;
  transition: all .3s;
}

.uui-form-checkbox-icon:hover {
  border-color: var(--untitled-ui-primary600);
  background-color: var(--untitled-ui-primary50);
}

.uui-form-checkbox-icon.w--redirected-checked {
  border-width: 1px;
  border-color: var(--untitled-ui-primary600);
  background-color: var(--untitled-ui-primary50);
  box-shadow: none;
  background-image: url('../images/check.svg');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: .875rem .875rem;
  background-attachment: scroll;
  border-radius: .25rem;
}

.uui-form-checkbox-icon.w--redirected-focus {
  border-color: var(--untitled-ui-primary600);
  background-color: var(--untitled-ui-primary50);
  box-shadow: 0 0 0 4px var(--untitled-ui-primary100);
  border-radius: .25rem;
}

.uui-form-checkbox {
  align-items: center;
  margin-bottom: 0;
  padding-left: 1.25rem;
  display: flex;
}

.uui-form_input {
  border: 1px solid var(--untitled-ui-gray300);
  background-color: var(--untitled-ui-white);
  color: var(--untitled-ui-gray900);
  border-radius: .5rem;
  height: auto;
  min-height: 2.75rem;
  margin-bottom: 0;
  padding: .5rem .875rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  transition: all .3s;
  box-shadow: 0 1px 2px #1018280d;
}

.uui-form_input:focus {
  border-color: var(--untitled-ui-primary300);
  box-shadow: 0 1px 2px 0 #1018280d, 0 0 0 4px var(--untitled-ui-primary100);
  color: var(--untitled-ui-gray900);
}

.uui-form_input::placeholder {
  color: var(--untitled-ui-gray500);
}

.uui-form_input.text-area {
  height: auto;
  min-height: 11.25rem;
  padding-top: .75rem;
  padding-bottom: .75rem;
  overflow: auto;
}

.uui-field-label {
  color: var(--untitled-ui-gray700);
  margin-bottom: .5rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: .875rem;
  font-weight: 500;
  line-height: 1.5;
}

.uui-form-field-wrapper {
  position: relative;
}

.uui-contact03_form {
  grid-column-gap: 1.5rem;
  grid-row-gap: 1.5rem;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.uui-contact03_form-wrapper {
  flex-direction: column;
  align-items: stretch;
}

.uui-text-style-link-02 {
  color: #000;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: 600;
  text-decoration: none;
}

.uui-icon-1x1-xsmall {
  color: var(--slate-grey);
  width: 1.5rem;
  height: 1.5rem;
}

.uui-contact03_icon-wrapper {
  color: var(--untitled-ui-primary600);
  flex: none;
  align-self: flex-start;
  margin-right: 1rem;
}

.uui-contact03_item {
  align-items: center;
  display: flex;
}

.uui-contact03_contact-list {
  grid-column-gap: 1rem;
  grid-row-gap: 1.5rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  margin-top: 3rem;
  display: grid;
}

.uui-text-size-large {
  color: var(--untitled-ui-gray600);
  letter-spacing: normal;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 1.125rem;
  line-height: 1.5;
}

.uui-space-xsmall {
  width: 100%;
  min-height: 1rem;
}

.uui-heading-medium {
  color: var(--untitled-ui-gray900);
  margin-top: 0;
  margin-bottom: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 2.25rem;
  font-weight: 600;
  line-height: 1.3;
}

.uui-contact03_component {
  grid-column-gap: 4rem;
  grid-row-gap: 4rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  place-content: center;
  align-items: center;
  display: grid;
}

.uui-padding-vertical-xhuge {
  padding-top: 7rem;
  padding-bottom: 7rem;
}

.uui-container-large {
  width: 100%;
  max-width: 80rem;
  margin-left: auto;
  margin-right: auto;
}

.uui-page-padding {
  padding-left: 2rem;
  padding-right: 2rem;
}

.image-23, .image-24 {
  width: 100%;
}

.grid {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  grid-template: "Area Area-2 Area-3 Area-4"
  / 1fr .75fr .75fr .75fr 1fr;
}

.footer-dark {
  background-color: #f5f7fa;
  border-bottom: 1px solid #e4ebf3;
  padding: 50px 30px 15px;
  position: relative;
}

.container-5 {
  width: 100%;
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
}

.footer-wrapper {
  justify-content: space-between;
  align-items: flex-start;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.footer-content {
  grid-column-gap: 70px;
  grid-row-gap: 40px;
  grid-template-rows: auto;
  grid-template-columns: auto auto 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.footer-block {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.title-small {
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-bottom: 12px;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
}

.footer-link {
  color: #1a1b1f;
  margin-top: 12px;
  margin-bottom: 6px;
  font-size: 14px;
  line-height: 16px;
  text-decoration: none;
}

.footer-link:hover {
  color: #1a1b1fbf;
}

.footer-social-block {
  justify-content: flex-start;
  align-items: center;
  margin-top: 12px;
  margin-left: -12px;
  display: flex;
}

.footer-social-link-2 {
  margin-left: 12px;
}

.footer-divider {
  background-color: #e4ebf3;
  width: 100%;
  height: 1px;
  margin-top: 70px;
  margin-bottom: 15px;
}

.footer-copyright-center {
  text-align: center;
  font-size: 14px;
  line-height: 16px;
}

.columns-3 {
  margin-left: 0;
  margin-right: 0;
}

.div-block-4 {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template: ". Area Area-2 Area-3 Area-4"
  / 1fr 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  margin-right: 10px;
}

.container-6 {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template: "Area Area-2 Area-3 Area-4 Area-5"
  / 1fr 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.heading-196 {
  color: #000;
  font-weight: 500;
}

.heading-216 {
  color: #000;
  text-align: left;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 10px;
  font-weight: 400;
  line-height: 1.45;
}

.container-7 {
  grid-column-gap: 5px;
  grid-row-gap: 4px;
  grid-template: "Area Area-2 Area-3 Area-4"
  / 1fr 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  grid-auto-flow: row;
  display: grid;
}

.text-field-2 {
  margin-bottom: 0;
  margin-right: 0;
}

.c-social_icon {
  object-fit: contain;
  width: 1.9em;
  height: 1.6em;
}

.text-field {
  margin-bottom: 0;
}

.text-block-68 {
  color: #fff;
}

.socialblock {
  align-items: center;
  display: flex;
}

.link-block-15 {
  text-align: center;
}

.div-block-262 {
  display: flex;
}

.button-default {
  color: #f5f8f8;
  text-align: center;
  background-color: #920609;
  border-radius: 8px;
  margin-top: 15px;
  margin-right: 0;
  padding: 10px 30px;
  font-size: 18px;
  font-weight: 500;
  transition: all .2s;
}

.button-default:hover {
  background-color: #27262e;
}

.button-default.small {
  padding: 5px 15px;
  font-size: 14px;
  font-weight: 400;
}

.link-block-19 {
  flex-direction: column;
  align-items: flex-start;
  display: flex;
}

.div-block-205 {
  justify-content: center;
  align-items: center;
  display: flex;
}

.c-social_link {
  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: .6em;
}

.div-block-166 {
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  text-decoration: none;
  display: flex;
}

.link-block-17 {
  font-weight: 400;
}

.text-block-49 {
  color: #000;
  font-weight: 400;
  text-decoration: none;
}

.text-block-49.dark {
  text-decoration: none;
}

.div-block-167 {
  text-align: left;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  text-decoration: none;
  display: flex;
}

.text-block-50 {
  color: #000;
  font-weight: 400;
}

.success-message-2 {
  background-color: #5f9ea0;
}

.heading-217 {
  color: #fff;
  font-size: 50px;
}

.quick-stack {
  margin-left: 4vw;
  margin-right: 4vw;
  padding-left: 70px;
  padding-right: 70px;
}

.button {
  background-color: #3898ec00;
  border: 3px solid #fff;
  margin-top: 10px;
}

.heading-218 {
  justify-content: center;
  align-items: center;
  width: 13ch;
  font-family: Palatino Linotype, Book Antiqua, Palatino, serif;
  font-size: 54px;
  font-weight: 700;
  line-height: 1;
  display: flex;
}

.cell {
  justify-content: center;
  align-items: flex-start;
  padding-left: 95px;
  padding-right: 95px;
}

.paragraph-5 {
  font-family: Merriweather, serif;
  font-size: 21px;
  line-height: 2;
}

.button-2 {
  background-color: var(--gray);
  font-size: 18px;
  font-style: italic;
}

@media screen and (min-width: 1440px) {
  .text-field {
    margin-bottom: 10px;
  }

  .button-default {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    font-size: 19px;
  }

  .text-block-49 {
    font-size: 16px;
    font-weight: 400;
  }

  .text-block-49.dark, .text-block-50 {
    font-size: 16px;
  }
}

@media screen and (min-width: 1920px) {
  .heading-196 {
    font-size: 20px;
  }

  .heading-216 {
    font-size: 14px;
  }

  .c-social_icon {
    width: 2em;
    height: 2em;
  }

  .button-default {
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .link-block-19, .div-block-166, .text-block-49.dark {
    font-size: 16px;
  }

  .text-block-50 {
    text-align: left;
    font-size: 18px;
  }
}

@media screen and (max-width: 991px) {
  .container-2 {
    max-width: 728px;
  }

  .nav-menu-wrapper {
    background-color: #0000;
  }

  .nav-menu-two {
    background-color: #fff;
    border-radius: 50px;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;
    padding: 20px;
    display: flex;
    box-shadow: 0 8px 50px #0000000d;
  }

  .nav-link {
    padding-left: 5px;
    padding-right: 5px;
  }

  .nav-dropdown-list.shadow-three.w--open {
    position: absolute;
  }

  .menu-button {
    padding: 12px;
  }

  .menu-button:hover {
    opacity: .58;
  }

  .menu-button:active {
    background-color: #0000;
  }

  .menu-button.w--open {
    color: #fff;
    background-color: #a6b1bf;
  }

  .container-grid {
    max-width: 728px;
  }

  .main-hero-text {
    font-size: 45px;
  }

  .div-block {
    width: 240px;
    height: 358px;
  }

  .maincontent {
    padding-left: 30px;
    padding-right: 30px;
  }

  .imagecasing {
    width: auto;
  }

  .container-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .heading-4, .heading-5 {
    font-size: 35px;
  }

  .container {
    max-width: 728px;
  }

  .footer-wrapper-two {
    flex-wrap: wrap;
    align-content: center;
  }

  .footer-brand {
    display: none;
  }

  .footer-link-two {
    margin-top: 0;
    line-height: 1.45;
  }

  .footer-form {
    width: 100%;
    margin-top: 40px;
  }

  .footer-form-container {
    max-width: 350px;
  }

  .image-18 {
    width: 175px;
  }

  .link-block {
    margin-bottom: 10px;
    display: block;
  }

  .uui-contact03_component {
    grid-column-gap: 3rem;
    grid-template-columns: 1fr;
    grid-auto-flow: row;
    min-height: auto;
  }

  .uui-padding-vertical-xhuge {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }

  .grid {
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    flex-direction: column;
    grid-template-rows: auto;
    grid-template-columns: 1fr .75fr .75fr .75fr 1fr;
    grid-auto-columns: 1fr;
    display: grid;
  }

  .container-5 {
    max-width: 728px;
  }

  .footer-content {
    grid-column-gap: 60px;
  }

  .link-block-16 {
    text-align: left;
  }

  .button-default {
    font-size: 16px;
  }

  .text-block-50 {
    text-align: left;
    margin-left: 0;
    margin-right: 0;
  }

  .quick-stack {
    padding-left: 0;
    padding-right: 0;
  }

  .image-25 {
    width: 559px;
  }

  .cell-2 {
    align-items: center;
  }
}

@media screen and (max-width: 767px) {
  .defaultsection.ministries.swapped {
    flex-direction: column-reverse;
  }

  .navbar-logo-left-container {
    max-width: 100%;
  }

  .navbar-brand {
    padding-left: 0;
  }

  .nav-menu-two {
    border-radius: 20px;
    flex-direction: column;
    padding-bottom: 30px;
  }

  .nav-link {
    padding-top: 10px;
    padding-bottom: 10px;
    display: inline-block;
  }

  .nav-dropdown {
    flex-direction: column;
    align-items: center;
    display: flex;
  }

  .nav-dropdown-toggle {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .nav-dropdown-list.shadow-three {
    box-shadow: 0 8px 50px #0000000d;
  }

  .nav-dropdown-list.shadow-three.w--open {
    position: relative;
  }

  .nav-dropdown-list.shadow-three.mobile-shadow-hide {
    box-shadow: none;
  }

  .mobile-margin-top-10 {
    margin-top: 10px;
  }

  .hero {
    padding: 60px 15px;
  }

  .main-hero-text {
    font-size: 40px;
  }

  .column {
    padding-left: 0;
  }

  .column.leftcontent {
    align-items: flex-start;
    padding-left: 30px;
  }

  .columns, .columns.swapped {
    flex-direction: column;
  }

  .maincontent {
    padding-left: 40px;
    padding-right: 40px;
  }

  .column-2 {
    align-items: flex-start;
  }

  .container-3 {
    padding-left: 40px;
    padding-right: 40px;
  }

  .heading-4, .heading-5 {
    font-size: 30px;
  }

  .paragraph-2, .paragraph-3 {
    margin-bottom: 15px;
    font-size: 14px;
  }

  .columns-2 {
    flex-direction: column;
    padding-left: 17px;
    padding-right: 17px;
  }

  .footer-light {
    padding-left: 15px;
    padding-right: 15px;
  }

  .footer-wrapper-two {
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
    display: grid;
  }

  .footer-brand {
    display: block;
  }

  .footer-title {
    text-align: left;
    font-size: 14px;
  }

  .footer-title.left {
    font-size: 14px;
  }

  .footer-link-two {
    font-size: 12px;
  }

  .footer-link-two.contact {
    width: auto;
    font-size: 12px;
  }

  .footer-bottom {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-left: 0;
    padding-right: 0;
  }

  .footer-copyright {
    text-align: center;
    font-size: 14px;
    line-height: 20px;
  }

  .footer-social-block-two {
    margin-top: 20px;
    margin-left: 0;
  }

  .footer-social-link {
    margin-left: 20px;
  }

  .image-18 {
    width: 255px;
  }

  .link-block {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 146px;
    margin-bottom: 0;
    display: flex;
  }

  .socialicon {
    width: 25px;
  }

  .column-7 {
    margin-bottom: 15px;
    padding-left: 30px;
  }

  .link {
    text-align: right;
  }

  .heading-7 {
    font-size: 30px;
  }

  .uui-button {
    background-color: var(--untitled-ui-gray600);
    font-size: 1rem;
  }

  .uui-button:hover {
    border-color: var(--untitled-ui-primary600);
    background-color: var(--untitled-ui-gray900);
  }

  .uui-contact03_contact-list {
    margin-top: 2rem;
  }

  .uui-text-size-large {
    font-size: 1rem;
  }

  .uui-space-xsmall {
    min-height: .75rem;
  }

  .uui-heading-medium {
    font-size: 1.75rem;
    line-height: 1.4;
  }

  .uui-contact03_component {
    grid-row-gap: 3rem;
    grid-template-columns: 1fr;
  }

  .uui-padding-vertical-xhuge {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  .uui-page-padding {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .grid {
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    grid-template-rows: auto;
    grid-template-columns: 1fr .75fr .75fr .75fr 1fr;
    grid-auto-columns: 1fr;
    grid-auto-flow: column;
    display: grid;
  }

  .footer-dark {
    padding-left: 15px;
    padding-right: 15px;
  }

  .footer-wrapper {
    flex-direction: column;
    align-items: center;
  }

  .footer-content {
    grid-template-columns: 1fr;
    margin-top: 40px;
  }

  .footer-block {
    align-items: center;
  }

  .footer-link:hover {
    color: #1a1b1fbf;
  }

  .footer-social-block {
    margin-top: 20px;
    margin-left: -20px;
  }

  .footer-social-link-2 {
    margin-left: 20px;
  }

  .footer-divider {
    margin-top: 60px;
  }

  .div-block-4 {
    display: flex;
  }

  .container-6 {
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    flex-direction: row;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-auto-columns: 1fr;
    justify-content: flex-end;
    align-items: stretch;
    display: grid;
  }

  .heading-196 {
    margin-top: 0;
  }

  .container-7 {
    grid-column-gap: 14px;
    grid-row-gap: 15px;
    padding-left: 25px;
    padding-right: 25px;
  }

  .text-field-2, .text-field {
    font-size: 10px;
  }

  .socialblock {
    flex-direction: column;
    justify-content: center;
  }

  .div-block-262 {
    flex-direction: column;
  }

  .button-default {
    font-size: 17px;
  }

  .c-social_link {
    padding-left: .8em;
    padding-right: .8em;
  }

  .div-block-166 {
    justify-content: flex-start;
  }

  .div-block-167 {
    font-weight: 700;
  }

  .text-block-50 {
    text-align: left;
  }
}

@media screen and (max-width: 479px) {
  .container-2 {
    max-width: none;
  }

  .navbar-brand {
    width: 160px;
  }

  .nav-menu-two {
    flex-direction: column;
  }

  .nav-dropdown-link {
    text-align: center;
  }

  .container-grid {
    max-width: none;
  }

  .main-hero-text {
    width: 11ch;
    font-size: 35px;
  }

  .div-block {
    width: 163px;
    height: 249px;
    top: -11px;
  }

  .column {
    margin-bottom: 10px;
    padding-left: 0;
    padding-right: 0;
  }

  .column.leftcontent {
    padding-left: 10px;
  }

  .columns, .columns.swapped, .columns.not {
    flex-direction: column;
  }

  .maincontent {
    padding-left: 20px;
    padding-right: 20px;
  }

  .paragraph {
    font-size: 16px;
  }

  .imagecasing {
    width: auto;
  }

  .container-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .heading-4, .heading-5 {
    font-size: 25px;
  }

  .footer-light {
    padding-top: 20px;
  }

  .container {
    max-width: none;
  }

  .footer-wrapper-two {
    flex-direction: column;
    grid-template-columns: 1.75fr 1fr;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .footer-block-two {
    margin-top: 5px;
  }

  .footer-title, .footer-title.left {
    width: auto;
    font-weight: 700;
  }

  .footer-link-two.contact {
    width: 15ch;
  }

  .footer-bottom {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .footer-copyright {
    text-align: center;
  }

  .footer-social-block-two {
    justify-content: space-around;
    margin-top: 0;
    margin-left: 0;
  }

  .footer-social-link {
    margin-left: 0;
  }

  .image-18 {
    width: 225px;
  }

  .link-block {
    width: 189px;
  }

  .socialline {
    margin-bottom: 10px;
    inset: auto auto 0% 0%;
  }

  .socialicon {
    width: 30px;
  }

  .image-19 {
    mix-blend-mode: normal;
  }

  .column-7 {
    padding-left: 10px;
  }

  .heading-7 {
    line-height: 1.45;
  }

  .uui-contact03_component {
    grid-template-columns: 1fr;
  }

  .container-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .container-5 {
    max-width: none;
  }

  .container-6 {
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    flex-direction: row;
    display: flex;
  }

  .heading-196 {
    text-align: left;
    margin-bottom: 0;
  }

  .container-7 {
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    flex-flow: row-reverse wrap;
    place-content: flex-start space-between;
    align-self: auto;
    margin-bottom: 15px;
    padding-left: 42px;
    padding-right: 42px;
    display: flex;
  }

  .c-social_icon {
    width: 1.5em;
    height: 2em;
  }

  .button-default {
    margin-top: 10px;
    font-size: 16px;
  }

  .div-block-205 {
    justify-content: center;
    align-items: center;
  }

  .c-social_link {
    padding: .3em .8em;
  }

  .div-block-166 {
    justify-content: center;
    align-self: auto;
    align-items: stretch;
  }

  .text-block-49.dark {
    font-weight: 300;
  }

  .div-block-167 {
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    flex-flow: column;
    flex: 1;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 15px;
    margin-right: 15px;
    display: flex;
  }

  .heading-218 {
    width: 11ch;
  }

  .cell {
    padding-left: 13px;
    padding-right: 13px;
  }

  .paragraph-5 {
    font-size: 18px;
  }

  .image-25 {
    width: 298px;
  }

  .quick-stack-2 {
    padding-left: 0;
    padding-right: 0;
  }
}

#w-node-_89bd25f4-bff4-acca-bc36-fb25bdfb98f9-23ef8875 {
  grid-template-rows: auto;
  grid-template-columns: 1fr 1.75fr;
}

#w-node-_59adc4d0-bc51-1640-8ab0-02ff960708ad-23ef8875 {
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
}

#w-node-_88fa8477-36e5-5dec-0000-3503b60a0d5c-b036014a {
  grid-area: Area;
}

#w-node-_65b61637-afa2-7975-5f56-176346b3b1a2-b036014a, #w-node-_130de55e-7297-8151-2402-784df694848c-b036014a, #w-node-_197710ef-b484-9499-faae-235b3093df7d-b036014a, #w-node-f6364940-b102-fabc-05fd-43ba18cb0b94-fe4bad78, #w-node-f6364940-b102-fabc-05fd-43ba18cb0b9e-fe4bad78 {
  align-self: start;
}

#w-node-_42b4ff67-966f-defa-eddd-99d414d981ae-fe4bad78, #w-node-f6364940-b102-fabc-05fd-43ba18cb0bba-fe4bad78 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-f6364940-b102-fabc-05fd-43ba18cb0bbb-fe4bad78 {
  justify-self: start;
}

@media screen and (max-width: 991px) {
  #w-node-_89bd25f4-bff4-acca-bc36-fb25bdfb98f9-23ef8875, #w-node-_59adc4d0-bc51-1640-8ab0-02ff960708ad-23ef8875 {
    grid-template-rows: auto;
    grid-template-columns: 1fr;
  }
}


@font-face {
  font-family: 'Nord';
  src: url('../fonts/Nord-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}