@font-face {
  font-family: Zonapro;
  src: url('../fonts/ZonaPro-Regular.ttf') format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Roobert Pro;
  src: url('../fonts/RoobertPRO-Light.otf') format("opentype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Roobert Pro;
  src: url('../fonts/RoobertPRO-Medium.otf') format("opentype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Roobert Pro;
  src: url('../fonts/RoobertPRO-SemiBold.otf') format("opentype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Roobert Pro;
  src: url('../fonts/RoobertPRO-Regular.otf') format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Zonapro;
  src: url('../fonts/ZonaPro-ExtraLight.otf') format("opentype");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Zonapro;
  src: url('../fonts/ZonaPro-Bold.otf') format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

:root {
  --black: #111;
  --purple: #b8a5ff;
  --charcoal: #1d1d23;
  --burntsienna: #e37e4a;
}

.w-layout-layout {
  grid-row-gap: 20px;
  grid-column-gap: 20px;
  grid-auto-columns: 1fr;
  justify-content: center;
  padding: 20px;
}

.w-layout-cell {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.w-layout-blockcontainer {
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

@media screen and (max-width: 991px) {
  .w-layout-blockcontainer {
    max-width: 728px;
  }
}

@media screen and (max-width: 767px) {
  .w-layout-blockcontainer {
    max-width: none;
  }
}

body {
  background-color: var(--black);
  color: var(--purple);
  letter-spacing: 0;
  font-family: Roobert Pro, sans-serif;
  font-size: 1vw;
  line-height: 1.6;
}

h1 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 3.28em;
  font-weight: 700;
  line-height: 1.4;
}

h2 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 2.5em;
  font-weight: 700;
  line-height: 1.4;
}

h3 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 2.19em;
  font-weight: 700;
  line-height: 1.4;
}

h4 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.88em;
  font-weight: 700;
  line-height: 1.4;
}

h5 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.67em;
  font-weight: 700;
  line-height: 1.4;
}

h6 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.46em;
  font-weight: 700;
  line-height: 1.4;
}

p {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.55em;
}

a {
  font-size: 1em;
  text-decoration: none;
}

label {
  margin-bottom: .3em;
  font-size: 1.25em;
  font-weight: 700;
  display: block;
}

blockquote {
  border-left: .3em solid #e2e2e2;
  margin-bottom: 1em;
  padding: 1em 2em 1em 1.7em;
  font-size: 1.2em;
  line-height: 1.6;
}

.container {
  width: 100%;
  max-width: 100em;
  margin-left: auto;
  margin-right: auto;
  padding: 3.5em 7em;
}

.container.is-slider {
  z-index: 10000;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  padding-top: 4em;
  padding-bottom: 0;
  display: flex;
}

.container.is-slider.downunder {
  padding-left: 5em;
  padding-right: 5em;
}

.container.is-slider.home {
  padding-top: 0;
}

.container.is-slider.home.services {
  max-width: none;
  padding-left: 0;
  padding-right: 0;
}

.html {
  width: 0;
  height: 0;
  position: absolute;
  inset: 0% 0% auto;
  overflow: hidden;
}

.global-styles {
  position: fixed;
  inset: 0% 0% auto;
}

.section {
  padding-top: 5vw;
  padding-bottom: 5vw;
}

.section.home {
  padding-top: 0;
  padding-bottom: 0;
}

.page-wrapper {
  width: 100%;
  margin-top: 75px;
  font-size: 1em;
  position: relative;
  overflow: visible;
}

.page-wrapper.home {
  margin-top: 0;
}

.page-wrapper.home.services {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

.slider_wrap {
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: stretch;
  display: flex;
}

.slider_wrap.home.services {
  justify-content: center;
}

.slider_left {
  width: 50%;
  position: relative;
}

.slider_left.home {
  width: 34%;
}

.slider_left.home.services {
  width: auto;
  padding-left: 0;
  padding-right: 0;
  display: none;
  position: absolute;
  inset: 45% 0% 0% auto;
}

.slider_right {
  z-index: 100;
  width: 50%;
}

.slider_right.home {
  width: auto;
  height: auto;
}

.slider_title {
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  padding-top: 1em;
  display: flex;
}

.slider_title-text {
  letter-spacing: -.03em;
  padding-bottom: .28em;
  font-size: 4.5em;
  font-weight: 400;
  line-height: .9;
}

.swiper.is-content {
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0%;
}

.swiper.is-photos {
  height: 100%;
  position: relative;
}

.swiper.is-photos.home {
  width: 700px;
}

.swiper.is-photos.home.services {
  width: 67vw;
}

.swiper-wrapper.is-content {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.swiper-wrapper.is-photos {
  z-index: 1000;
  width: 100%;
  height: auto;
}

.swiper-slide.is-content {
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  height: 100%;
  padding-right: 2.6em;
  display: flex;
  position: relative;
  inset: 0% auto 0% 0%;
}

.swiper-slide.is-content.home.services {
  padding-right: 0;
}

.swiper-slide.is-content.downunder {
  padding-right: 3.3em;
}

.swiper-slide.is-photos {
  background-image: url('https://d3e54v103j8qbb.cloudfront.net/img/background-image.svg');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 1.2em;
  width: 100%;
  height: 100%;
}

.swiper-slide.is-photos.home {
  height: 37vh;
}

.swiper-slide.is-photos.home.services {
  height: 50vh;
}

.slider_info-middle {
  padding-top: 0;
  padding-bottom: 0;
}

.slider_info-text {
  width: 100%;
  max-width: 22.3em;
  font-size: 1.4em;
}

.slider_info-bottom {
  width: 100%;
  height: 5em;
  display: block;
}

.arrows {
  z-index: 100;
  justify-content: flex-start;
  align-items: center;
  display: flex;
  position: absolute;
  inset: auto auto 0% 0%;
}

.arrows.home {
  justify-content: center;
  inset: 45% 0% auto;
}

.arrows.home.services {
  position: static;
  inset: 0% 0% 0% auto;
}

.arrow {
  border: 1px solid #b8a5ff3d;
  border-radius: 100vw;
  justify-content: center;
  align-items: center;
  width: 7em;
  height: 3.1em;
  margin-right: 1em;
  transition: all .2s;
  display: flex;
}

.arrow:hover {
  border-color: var(--purple);
  background-color: var(--purple);
  color: var(--black);
}

.arrow.is-left {
  color: var(--charcoal);
}

.arrow.is-left:hover, .arrow.is-right:hover {
  background-color: var(--burntsienna);
}

.arrow_svg {
  width: .8em;
  height: 1.13em;
}

.arrow_svg.is-alt {
  transform: rotate(-180deg);
}

.slider_height {
  padding-top: 140%;
}

.slider_height.home {
  background-image: url('https://d3e54v103j8qbb.cloudfront.net/img/background-image.svg');
  background-position: 50%;
  background-size: cover;
  padding-top: 0%;
}

.cell-3 {
  justify-content: center;
}

.nav-divider {
  background-color: #e4ebf3;
  width: 1px;
  height: 22px;
  margin-left: 15px;
  margin-right: 15px;
}

.buttonalternate {
  color: #1d1d23;
  background-color: #0000;
  border: 2px solid #e37e4a;
  border-radius: 20px;
}

.navbar-logo-left-container {
  z-index: 5;
  background-color: #0000;
  width: 1030px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 15px 20px;
}

.navbar-logo-left-container.shadow-three {
  width: 100%;
  max-width: 1140px;
  margin-bottom: 0;
  padding-top: 20px;
  padding-bottom: 20px;
}

.nav-menu-two {
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0;
  display: flex;
}

.subheadtext {
  color: #fff;
  text-align: center;
  width: 47ch;
  margin-bottom: 10px;
  padding-left: 0;
  padding-right: 0;
  font-size: 18px;
}

.subheadtext.black {
  color: var(--charcoal);
  width: 59ch;
}

.servicecell {
  grid-column-gap: 25px;
  grid-row-gap: 25px;
  outline-offset: 1px;
  border-radius: 13px;
  outline: 2px solid #fff;
  justify-content: center;
  align-items: flex-start;
  padding: 0;
}

.servicecell:hover {
  outline-offset: 1px;
  background-color: #e37e4a;
  outline: 2px solid #e37e4a;
}

.navbar-wrapper {
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.text-block {
  font-weight: 200;
}

.quick-stack {
  padding-left: 60px;
  padding-right: 60px;
}

.paragraph {
  color: #fff;
  text-align: left;
  margin-bottom: 20px;
  font-size: 18px;
}

.paragraph.dark {
  color: #1d1d23;
}

.link-block {
  grid-column-gap: 25px;
  grid-row-gap: 25px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  height: 100%;
  padding: 35px 30px;
  text-decoration: none;
  display: flex;
}

.quick-stack-3 {
  padding-left: 80px;
  padding-right: 80px;
}

.containernav {
  width: 100%;
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
}

.quick-stack-2 {
  min-height: 50vh;
}

.cell-2 {
  justify-content: center;
  align-items: center;
}

.div-block-2 {
  width: 263px;
}

.cell {
  justify-content: center;
  align-items: flex-start;
}

.nav-link {
  color: #1a1b1f;
  letter-spacing: .25px;
  margin-left: 5px;
  margin-right: 5px;
  padding: 5px 10px;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
}

.nav-link:hover {
  color: #1a1b1fbf;
}

.nav-link:focus-visible, .nav-link[data-wf-focus-visible] {
  outline-offset: 0px;
  color: #0050bd;
  border-radius: 4px;
  outline: 2px solid #0050bd;
}

.heading-2 {
  margin-top: 0;
  font-size: 60px;
  line-height: 1.1;
}

.text-block-2 {
  margin-bottom: 10px;
  font-size: 24px;
}

.button {
  background-color: #1d1d23;
  border-radius: 20px;
  font-size: 16px;
}

.button.outline {
  outline-offset: 1px;
  color: #1d1d23;
  background-color: #1d1d2300;
  outline: 3px solid #1d1d23;
}

.text-block-4 {
  color: #fff;
  font-size: 28px;
  font-weight: 700;
}

.slider-4 {
  width: 32vw;
  height: 70vh;
}

.subhead {
  color: #fff;
  margin-top: 0;
  font-size: 38px;
}

.subhead.dark {
  color: #1d1d23;
}

.slide-5 {
  background-image: url('../images/IMG_4588.jpg');
  background-position: 50%;
  background-size: cover;
}

.sectionmain {
  padding: 5vw;
}

.sectionmain.media {
  height: 93vh;
}

.sectionmain.dark {
  z-index: 10;
  background-color: var(--charcoal);
  height: auto;
  padding: 15vw 90px;
}

.sectionmain.dark.moved {
  z-index: 1;
  position: relative;
  top: -159px;
}

.sectionmain.dark.blog {
  padding: 5vw;
}

.sectionmain.dark.projects {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  margin-top: -75px;
  padding-top: 10vw;
  padding-bottom: 10vw;
  display: flex;
}

.sectionmain.dark.static {
  height: auto;
}

.sectionmain.left-padding {
  padding-left: 5vw;
  padding-right: 5vw;
}

.sectionmain.hero {
  align-items: center;
  height: 55vh;
  padding-left: 0;
  padding-right: 0;
}

.sectionmain.hero.services {
  flex-direction: column;
  justify-content: flex-start;
  display: flex;
}

.sectionmain.padding {
  background-color: var(--charcoal);
  padding-top: 15vw;
  padding-bottom: 15vw;
}

.sectionmain.padding.services {
  height: auto;
  padding-top: 8vw;
  padding-bottom: 8vw;
}

.sectionmain.services {
  height: auto;
}

.slide-4 {
  background-image: url('../images/2023-06-06-16-52-29-518.jpg');
  background-position: 50%;
  background-size: cover;
}

.body {
  color: var(--charcoal);
  background-color: #fff;
  font-family: Zonapro, sans-serif;
}

.quick-stack-4 {
  background-color: var(--charcoal);
  border-radius: 20px;
  padding: 30px;
}

.text-block-5 {
  color: #fff;
  font-size: 18px;
  font-weight: 700;
}

.paragraph-2 {
  color: #fff;
  font-size: 16px;
}

.reviewdiv {
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  display: flex;
}

.heading-3 {
  margin-bottom: 15px;
}

.div-block-3 {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

.footer-dark {
  border-bottom: 1px solid #e4ebf3;
  padding: 50px 30px 15px;
  position: relative;
}

.container-2 {
  width: 100%;
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
}

.footer-wrapper {
  justify-content: space-between;
  align-items: flex-start;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.footer-content {
  grid-column-gap: 70px;
  grid-row-gap: 40px;
  grid-template-rows: auto;
  grid-template-columns: auto auto 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.footer-block {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.title-small {
  color: var(--charcoal);
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-bottom: 12px;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
}

.footer-link {
  color: #1a1b1f;
  margin-top: 12px;
  margin-bottom: 6px;
  font-size: 14px;
  line-height: 16px;
  text-decoration: none;
}

.footer-link:hover {
  color: #1a1b1fbf;
}

.footer-social-block {
  justify-content: flex-start;
  align-items: center;
  margin-top: 12px;
  margin-left: -12px;
  display: flex;
}

.footer-social-link {
  margin-left: 12px;
}

.footer-divider {
  background-color: #e4ebf3;
  width: 100%;
  height: 1px;
  margin-top: 70px;
  margin-bottom: 15px;
}

.footer-copyright-center {
  color: var(--charcoal);
  text-align: center;
  font-size: 14px;
  line-height: 16px;
}

.mainbody {
  color: var(--charcoal);
  background-color: #0000;
  font-family: Zonapro, sans-serif;
  font-size: 16px;
}

.cell-4 {
  justify-content: center;
  align-items: center;
}

.heading-4 {
  color: #fff;
  margin-bottom: 10px;
  font-size: 28px;
}

.heading-4.black {
  color: var(--charcoal);
  margin-bottom: 0;
}

.heading-4.black.centered {
  text-align: center;
}

.heading-4.centered {
  text-align: center;
  font-size: 42px;
}

.paragraph-3 {
  color: #fff;
  font-size: 18px;
}

.spacer.lawncare {
  height: 13vh;
}

.cell-5 {
  justify-content: center;
  align-items: flex-start;
  font-family: Zonapro, sans-serif;
}

.cell-6 {
  justify-content: center;
  align-items: center;
}

.quick-stack-6 {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  flex: 0 auto;
  width: 100%;
  height: 100%;
  padding: 0;
  position: relative;
}

.div-block-4 {
  background-color: var(--burntsienna);
  border-radius: 20px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px 1px;
  display: flex;
  position: static;
  inset: auto 0% 0%;
}

.heading-5 {
  color: #fff;
  text-align: center;
  margin-bottom: 5px;
  font-size: 16px;
}

.paragraph-4 {
  color: #fff;
  text-align: center;
  margin-bottom: 5px;
  font-size: 14px;
}

.div-block-5 {
  padding-left: 25px;
  padding-right: 25px;
  position: absolute;
  inset: auto 0% -19%;
}

.quick-stack-7 {
  grid-column-gap: 12px;
  grid-row-gap: 90px;
  padding-top: 0;
}

.text-block-6 {
  color: #fff;
  font-size: 12px;
  text-decoration: underline;
}

.image {
  border-radius: 20px;
}

.quick-stack-8 {
  grid-row-gap: 90px;
}

.section-2 {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

.text-block-7 {
  font-size: 16px;
}

.dropdown-toggle {
  padding-left: 25px;
  padding-right: 25px;
}

.slider-5 {
  display: none;
}

.body-2 {
  background-color: #0000;
}

.collection-item {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  display: flex;
}

.heading-6 {
  color: var(--charcoal);
  text-align: center;
  margin-bottom: 25px;
  font-family: Zonapro, sans-serif;
  font-size: 4.4em;
}

.section-4 {
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  display: flex;
}

.collection-list-wrapper {
  z-index: 10;
  position: relative;
}

.heading-7 {
  text-align: center;
  font-family: Zonapro, sans-serif;
}

.heading-7.dark {
  color: var(--charcoal);
  font-size: 2.5em;
}

.text-block-8 {
  font-family: Zonapro, sans-serif;
}

.text-block-8.dark {
  color: var(--charcoal);
}

.div-block-7 {
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.text-block-9 {
  margin-left: 5px;
  font-family: Zonapro, sans-serif;
}

.text-block-9.dark {
  color: var(--charcoal);
}

.text-block-9.white {
  color: #fff;
  margin-left: 0;
}

.text-block-9.orange {
  color: var(--burntsienna);
}

.div-block-8 {
  color: var(--charcoal);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 35px 20vw;
  display: flex;
}

.text-block-10 {
  color: #fff;
  text-align: left;
  font-family: Zonapro, sans-serif;
}

.text-block-10.dark {
  color: var(--charcoal);
}

.text-block-10.centered {
  color: var(--charcoal);
  text-align: center;
}

.blackbackground {
  background-color: var(--charcoal);
  width: 100%;
  height: 20vh;
  position: absolute;
  top: 718.22px;
}

.collection-item-2 {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template: "Area Area-3"
  / 1fr 1fr;
  grid-auto-columns: 1fr;
}

.collection-list-wrapper-2 {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  color: var(--charcoal);
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
}

.collection-list {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.image-2 {
  margin-bottom: 15px;
}

.image-4 {
  border-radius: 1.2em;
}

.dropdown-link {
  border: 2px none var(--burntsienna);
  background-color: #fff;
}

.dropdown-link:hover {
  color: var(--burntsienna);
}

.dropdown-link.w--current {
  color: var(--charcoal);
}

.dropdown-link-2 {
  background-color: #fff;
  border: 1px #000;
}

.dropdown-link-2:hover {
  color: var(--burntsienna);
}

.body-3 {
  background-color: #0000;
}

.heading-8 {
  color: var(--charcoal);
  text-align: center;
  font-family: Zonapro, sans-serif;
}

.paragraph-5 {
  color: var(--charcoal);
  text-align: center;
  font-size: 22px;
}

.container-3 {
  max-width: 1400px;
}

.collection-list-2 {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.heading-9 {
  color: #fff;
  text-align: center;
  font-size: 24px;
}

.link-block-2 {
  color: var(--charcoal);
}

.body-4 {
  background-color: #0000;
}

.quick-stack-10 {
  width: 100%;
  height: 59vh;
}

.cell-8, .cell-9, .cell-10 {
  background-image: url('https://d3e54v103j8qbb.cloudfront.net/img/background-image.svg');
  background-position: 0 0;
  background-size: cover;
}

.heading-10 {
  color: var(--charcoal);
  text-align: center;
  font-family: Zonapro, sans-serif;
  font-size: 40px;
}

.text-block-11 {
  color: var(--charcoal);
  text-align: center;
  font-family: Zonapro, sans-serif;
  font-size: 18px;
  font-weight: 400;
}

.div-block-9 {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

.button-2 {
  background-color: var(--charcoal);
  border-radius: 20px;
  font-family: Zonapro, sans-serif;
}

.text-block-12 {
  margin-top: 6px;
  margin-bottom: 6px;
}

.rich-text-block {
  color: #fff;
  font-family: Zonapro, sans-serif;
  font-size: 14px;
}

.cell-11 {
  justify-content: center;
  align-items: center;
}

.dropdown-list {
  border: 1px #000;
}

.dropdown-list.w--open {
  border-style: solid;
  border-color: var(--burntsienna);
}

.body-5 {
  background-color: #fff;
}

.contact-icon {
  color: #b45143;
  background-color: #b45143;
  justify-content: center;
  align-items: center;
  width: 22px;
  height: 22px;
  margin-right: 10px;
  padding: 4px;
  display: flex;
}

.paragraph-15 {
  opacity: .75;
  font-family: Georgia, Times, Times New Roman, serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
}

._2-questions-wrap {
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.text-block-13 {
  color: var(--charcoal);
}

.form-03-outer-div {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  width: 100%;
  max-width: 1100px;
  display: grid;
}

.form-spacer {
  flex: 0 auto;
  width: 20px;
  min-width: 20px;
  height: 20px;
  min-height: 20px;
}

.text-field-inform {
  border: 1px solid #dbdbdb;
  height: 48px;
  margin-bottom: 0;
  margin-right: 0;
  padding-top: 13px;
  padding-bottom: 13px;
  padding-left: 15px;
  font-size: 16px;
  font-weight: 300;
  line-height: 22px;
}

.text-field-inform:active {
  color: #3b2ae5;
  border-color: #dbdbdb;
}

.text-field-inform.bigger {
  height: auto;
  min-height: 58px;
}

.contact-method {
  color: #3b2ae5;
  align-items: center;
  margin-right: 20px;
  font-size: 16px;
  font-weight: 600;
  line-height: 22px;
  text-decoration: none;
  transition: all .2s;
  display: flex;
}

.contact-method:hover {
  opacity: .8;
}

.form-block-03 {
  border: 1px solid #dbdbdb;
  margin-bottom: 0;
  padding: 20px;
}

.contact-method-wrap {
  align-items: center;
  margin-top: 20px;
  margin-right: 20px;
  display: flex;
}

.content-wrap-left-2 {
  color: var(--charcoal);
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-right: 15px;
  font-family: Zonapro, sans-serif;
  display: flex;
}

.error-message-2 {
  background-color: #b451434a;
}

.button-primary {
  background-color: var(--charcoal);
  color: #fff;
  letter-spacing: 2px;
  text-transform: capitalize;
  border-radius: 20px;
  padding: 12px 25px;
  font-family: Zonapro, sans-serif;
  font-weight: 700;
  line-height: 20px;
  transition: all .2s;
}

.button-primary:hover {
  color: #fff;
  background-color: #32343a;
}

.button-primary:active {
  background-color: #43464d;
}

.heading-2-3 {
  margin-top: 0;
  font-size: 35px;
  font-weight: 600;
  line-height: 1.45;
}

.form-section-03 {
  border-bottom: 0 #dbdbdb;
  flex-direction: column;
  align-items: center;
  margin-left: 5vw;
  margin-right: 5vw;
  padding-top: 100px;
  padding-bottom: 100px;
  display: flex;
}

.section-title-2 {
  color: var(--burntsienna);
  text-transform: none;
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 600;
  line-height: 22px;
  text-decoration: none;
}

.contact-text {
  color: #000;
  margin-bottom: 1px;
  font-weight: 300;
  text-decoration: none;
}

.text-block-14 {
  color: var(--charcoal);
}

.heading-11 {
  color: #fff;
  font-size: 2.6em;
}

.div-block-10 {
  color: #fff;
  justify-content: center;
  align-items: center;
  display: flex;
}

.body-6 {
  color: var(--charcoal);
  background-color: #fff;
}

.hero-heading-center {
  background-color: #fff;
  border-bottom: 1px #e4ebf3;
  padding: 80px 30px;
  font-family: Zonapro, sans-serif;
  position: relative;
}

.container-4 {
  width: 100%;
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
}

.centered-heading {
  text-align: center;
  margin-bottom: 16px;
}

.centered-heading.margin-bottom-32px {
  margin-bottom: 32px;
}

.hero-wrapper {
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.hero-split {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  max-width: 46%;
  display: flex;
}

.margin-bottom-24px {
  margin-bottom: 24px;
  font-size: 18px;
}

.button-primary-2 {
  color: #fff;
  letter-spacing: 2px;
  text-transform: uppercase;
  background-color: #1a1b1f;
  padding: 12px 25px;
  font-size: 12px;
  line-height: 20px;
  transition: all .2s;
}

.button-primary-2:hover {
  color: #fff;
  background-color: #32343a;
}

.button-primary-2:active {
  background-color: #43464d;
}

.shadow-two {
  box-shadow: 0 4px 24px #96a3b514;
}

.image-5 {
  min-height: 37px;
}

.div-block-11 {
  background-image: url('https://d3e54v103j8qbb.cloudfront.net/img/background-image.svg');
  background-position: 50%;
  background-size: cover;
  width: 25vw;
  height: 15vw;
}

.div-block-12 {
  background-image: url('https://d3e54v103j8qbb.cloudfront.net/img/background-image.svg');
  background-position: 50%;
  background-size: cover;
  width: 50vw;
  height: 35vh;
}

.section-6 {
  justify-content: center;
  align-items: center;
  display: flex;
}

.link-block-3 {
  color: var(--charcoal);
}

.body-7 {
  background-color: #0000;
  font-family: Zonapro, sans-serif;
}

@media screen and (min-width: 1920px) {
  .paragraph-15 {
    font-size: 20px;
  }

  .form-03-outer-div {
    width: 70%;
    max-width: none;
  }

  .button-primary {
    font-size: 16px;
  }

  .heading-2-3 {
    font-size: 38px;
  }

  .form-section-03 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media screen and (max-width: 991px) {
  body {
    font-size: .619375em;
  }

  .container {
    padding-left: 6vw;
    padding-right: 6vw;
  }

  .container.is-slider.home {
    padding-left: 3vw;
    padding-right: 3vw;
  }

  .container.is-slider.home.services {
    width: auto;
    padding-left: 8.2em;
    padding-right: 8.2em;
  }

  .section.home {
    width: 100vw;
  }

  .page-wrapper.home.services {
    width: auto;
  }

  .swiper-slide.is-photos.home {
    height: 28vh;
  }

  .swiper-slide.is-photos.home.services {
    height: 29vh;
  }

  .nav-menu-two {
    background-color: #fff;
    border-radius: 50px;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;
    padding: 20px;
    display: flex;
    box-shadow: 0 8px 50px #0000000d;
  }

  .nav-menu-wrapper {
    background-color: #0000;
  }

  .text-block {
    font-size: 14px;
  }

  .containernav {
    max-width: 728px;
  }

  .nav-link {
    padding-left: 5px;
    padding-right: 5px;
  }

  .menu-button {
    padding: 12px;
  }

  .menu-button.w--open {
    color: #fff;
    background-color: #a6b1bf;
  }

  .sectionmain {
    height: auto;
  }

  .sectionmain.dark {
    height: auto;
    padding-top: 23vw;
  }

  .sectionmain.dark.blog {
    height: auto;
    padding-top: 0;
  }

  .sectionmain.dark.projects {
    padding-left: 30px;
    padding-right: 30px;
  }

  .sectionmain.dark.static {
    padding-top: 10vw;
    padding-bottom: 10vw;
  }

  .sectionmain.hero {
    flex-direction: column;
    display: flex;
  }

  .sectionmain.hero.services {
    height: 38vh;
  }

  .container-2 {
    max-width: 728px;
  }

  .footer-content {
    grid-column-gap: 60px;
  }

  .heading-4.centered {
    font-size: 33px;
  }

  .paragraph-3 {
    text-align: center;
  }

  .quick-stack-5 {
    padding-left: 0;
    padding-right: 0;
  }

  .cell-5 {
    align-items: center;
  }

  .div-block-4 {
    padding-left: 0;
    padding-right: 0;
  }

  .paragraph-4 {
    font-size: 12px;
  }

  .div-block-5 {
    bottom: -40%;
  }

  .quick-stack-8 {
    grid-row-gap: 115px;
  }

  .collection-item {
    width: 85vw;
  }

  .collection-list-wrapper {
    flex-direction: column;
  }

  .heading-7 {
    font-size: 38px;
  }

  .text-block-8 {
    font-size: 18px;
  }

  .div-block-7 {
    font-size: 1.6em;
  }

  .text-block-9 {
    font-size: 18px;
  }

  .div-block-8 {
    align-items: flex-start;
    padding-left: 0;
    padding-right: 0;
  }

  .text-block-10 {
    font-size: 18px;
  }

  .text-block-10.centered {
    text-align: left;
    font-size: 18px;
  }

  .blackbackground {
    height: 33vh;
    top: 559.22px;
  }

  .collection-list-wrapper-2 {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .collection-list {
    flex-direction: column;
    display: flex;
  }

  .image-2 {
    margin-bottom: 10px;
    padding-bottom: 0;
  }

  .section-5 {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
  }

  .image-3 {
    margin-bottom: 10px;
  }

  .heading-9 {
    font-size: 19px;
  }

  .quick-stack-10 {
    padding-left: 0;
    padding-right: 0;
  }

  .form-03-outer-div {
    grid-template-columns: 1fr;
  }

  .form-block-03 {
    margin-top: 20px;
  }

  .content-wrap-left-2 {
    padding-left: 0;
    padding-right: 0;
  }

  .form-section-03 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .collection-list-3 {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
  }

  .quick-stack-11 {
    padding-left: 0;
    padding-right: 0;
  }

  .container-4 {
    max-width: 728px;
  }

  .hero-wrapper {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: -40px;
  }

  .hero-split {
    max-width: 100%;
    margin-bottom: 40px;
  }
}

@media screen and (max-width: 767px) {
  .container.is-slider.home.services {
    padding-left: 4em;
    padding-right: 4em;
  }

  .page-wrapper.home, .page-wrapper.home.services {
    display: none;
  }

  .slider_wrap {
    flex-direction: column-reverse;
  }

  .slider_left {
    width: 100%;
  }

  .slider_right {
    width: 100%;
    padding-bottom: 4em;
  }

  .swiper.is-content {
    position: relative;
  }

  .swiper.is-photos {
    padding-left: 9%;
    padding-right: 9%;
  }

  .swiper.is-photos.home.services {
    width: 79vw;
    padding-left: 0%;
    padding-right: 0%;
  }

  .nav-divider {
    width: 200px;
    max-width: 100%;
    height: 1px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .mobile-margin-top-10 {
    margin-top: 10px;
  }

  .navbar-logo-left-container {
    max-width: 100%;
  }

  .nav-menu-two {
    border-radius: 20px;
    flex-direction: column;
    padding-bottom: 30px;
  }

  .subheadtext {
    width: 35ch;
  }

  .subheadtext.black {
    width: auto;
  }

  .navbar-brand {
    padding-left: 0;
  }

  .quick-stack {
    padding-left: 5px;
    padding-right: 5px;
  }

  .quick-stack.white {
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    color: #fff;
    height: 100%;
    padding: 0 15px;
  }

  .quick-stack-2 {
    padding-left: 0;
    padding-right: 0;
  }

  .cell {
    justify-content: flex-start;
    align-items: flex-start;
  }

  .nav-link {
    padding-top: 10px;
    padding-bottom: 10px;
    display: inline-block;
  }

  .sectionmain.dark {
    padding-left: 40px;
    padding-right: 40px;
  }

  .sectionmain.hero {
    height: 510px;
    display: none;
  }

  .sectionmain.hero.services {
    height: 22vh;
  }

  .footer-dark {
    padding-left: 15px;
    padding-right: 15px;
  }

  .footer-wrapper {
    flex-direction: column;
    align-items: center;
  }

  .footer-content {
    grid-template-columns: 1fr;
    margin-top: 40px;
  }

  .footer-block {
    align-items: center;
  }

  .footer-link:hover {
    color: #1a1b1fbf;
  }

  .footer-social-block {
    margin-top: 20px;
    margin-left: -20px;
  }

  .footer-social-link {
    margin-left: 20px;
  }

  .footer-divider {
    margin-top: 60px;
  }

  .spacer {
    display: none;
  }

  .heading-5 {
    text-align: center;
  }

  .div-block-5 {
    bottom: -19%;
  }

  .quick-stack-8 {
    grid-row-gap: 84px;
  }

  .slide-6 {
    background-image: linear-gradient(#1d1d23b3, #1d1d23b3), url('../images/326941062_987877648858213_6843976251100298288_n.jpg');
    background-position: 0 0, 0 0;
    background-size: auto, cover;
  }

  .slide-nav, .right-arrow, .icon {
    display: none;
  }

  .slide-7 {
    background-image: url('../images/353056638_244550524989111_5900291550616661801_n.jpg');
    background-position: 0 0;
    background-size: cover;
  }

  .slider-5 {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 49vh;
    display: flex;
  }

  .section-3 {
    align-items: center;
  }

  .cell-7 {
    justify-content: flex-end;
    align-items: flex-start;
  }

  .text-block-10.centered {
    font-size: 16px;
  }

  .content-wrap-left-2 {
    padding-left: 0;
    padding-right: 0;
  }

  .hero-heading-center {
    padding: 60px 15px;
  }
}

@media screen and (max-width: 479px) {
  .container.is-slider.downunder {
    flex-direction: column;
  }

  .container.is-slider.home.services {
    align-items: center;
    width: 85%;
    padding-left: 0;
    padding-right: 0;
  }

  .section.home, .page-wrapper.home {
    display: none;
  }

  .page-wrapper.home.services {
    width: 85%;
    padding-left: 0;
    padding-right: 0;
    position: static;
  }

  .slider_right.home.services {
    padding-bottom: 4em;
  }

  .swiper.is-photos.home.services {
    width: auto;
    margin-bottom: 15px;
    position: static;
  }

  .swiper-wrapper.is-photos {
    width: 108%;
  }

  .swiper-wrapper.is-photos.services {
    width: 85vw;
  }

  .swiper-slide.is-photos.home.services {
    height: 27vh;
  }

  .slider_info-middle {
    padding-top: 0;
    padding-bottom: 0;
  }

  .nav-menu-two {
    flex-direction: column;
  }

  .subheadtext {
    width: auto;
    font-size: 4vw;
  }

  .subheadtext.black {
    width: auto;
  }

  .text-block {
    display: none;
  }

  .quick-stack {
    padding-left: 0;
    padding-right: 0;
  }

  .paragraph {
    text-align: center;
    font-size: 4vw;
  }

  .link-block {
    justify-content: space-around;
    padding: 10px;
  }

  .containernav {
    max-width: none;
  }

  .cell {
    align-items: flex-start;
  }

  .heading-2 {
    text-align: left;
    font-size: 10vw;
  }

  .text-block-2 {
    text-align: left;
    font-size: 4vw;
  }

  .subhead {
    text-align: center;
  }

  .menu-button {
    color: var(--charcoal);
  }

  .sectionmain.dark {
    padding-left: 20px;
    padding-right: 20px;
  }

  .sectionmain.left-padding {
    height: auto;
  }

  .sectionmain.hero {
    height: auto;
    padding-left: 0;
    padding-right: 0;
  }

  .sectionmain.hero.services {
    height: auto;
    padding-left: 2vw;
    padding-right: 2vw;
    display: none;
  }

  .sectionmain.padding {
    margin-top: 20px;
  }

  .sectionmain.padding.services {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 0;
    display: flex;
  }

  .container-2 {
    max-width: none;
  }

  .heading-4 {
    text-align: center;
    font-size: 10vw;
  }

  .paragraph-3 {
    text-align: center;
    font-size: 4vw;
  }

  .quick-stack-5 {
    margin-top: 0;
  }

  .spacer {
    padding-top: 10vw;
    padding-bottom: 10vw;
    display: none;
  }

  .div-block-4 {
    position: static;
  }

  .div-block-5 {
    padding-left: 0;
    padding-right: 0;
    position: absolute;
    bottom: -37%;
  }

  .quick-stack-8 {
    grid-row-gap: 126px;
    padding-left: 5px;
    padding-right: 5px;
  }

  .slide-6.hardscape {
    background-image: linear-gradient(#1d1d23b3, #1d1d23b3), url('../images/IMG_3647-scaled.jpg'), url('../images/326941062_987877648858213_6843976251100298288_n.jpg');
    background-position: 0 0, 0 0, 0 0;
    background-size: auto, cover, cover;
  }

  .slide-6.lawncare {
    background-image: linear-gradient(#1d1d23b3, #1d1d23b3), url('../images/javier-tavara-mT2E0q9Ears-unsplash.jpg');
    background-position: 0 0, 0 0;
    background-size: auto, cover;
  }

  .slide-6.construction {
    background-image: linear-gradient(#1d1d23b3, #1d1d23b3), url('../images/Rustic-Built-In-BBQ-Area-6.jpg');
    background-position: 0 0, 0 0;
    background-size: auto, cover;
  }

  .slide-nav, .right-arrow, .icon {
    display: none;
  }

  .slide-7 {
    background-image: url('../images/353056638_244550524989111_5900291550616661801_n.jpg');
    background-position: 50%;
    background-size: cover;
  }

  .icon-2, .left-arrow {
    display: none;
  }

  .div-block-6 {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
  }

  .slider-5 {
    display: block;
  }

  .quick-stack-9 {
    padding-left: 0;
    padding-right: 0;
  }

  .collection-list-wrapper {
    position: static;
  }

  .div-block-7 {
    flex-direction: column;
    justify-content: center;
  }

  .text-block-9 {
    margin-top: 5px;
  }

  .container-3 {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
  }

  .collection-list-2 {
    flex-direction: column;
    display: flex;
  }

  .contact-icon {
    min-width: 22px;
    min-height: 22px;
  }

  .paragraph-15 {
    text-align: center;
  }

  ._2-questions-wrap {
    flex-direction: column;
  }

  .form-03-outer-div {
    width: auto;
    max-width: none;
  }

  .text-field-inform {
    padding-left: 0;
    font-size: 10px;
  }

  .contact-method {
    margin-bottom: 10px;
  }

  .form-block-03 {
    width: 100%;
    max-width: 100%;
  }

  .contact-method-wrap {
    flex-direction: column;
    align-items: flex-start;
  }

  .content-wrap-left-2 {
    align-items: center;
  }

  .button-primary {
    text-align: center;
  }

  .heading-2-3 {
    text-align: center;
    font-size: 28px;
  }

  .form-section-03 {
    margin-left: 0;
    margin-right: 0;
    padding-left: 10px;
    padding-right: 10px;
  }

  .div-block-10 {
    flex-direction: column;
  }

  .container-4 {
    max-width: none;
  }

  .centered-heading {
    margin-bottom: 24px;
  }
}

#w-node-_00760344-339c-6974-5d19-ce5f4d28bbae-2323d0d4 {
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
}

#w-node-_00760344-339c-6974-5d19-ce5f4d28bbaf-2323d0d4, #w-node-_00760344-339c-6974-5d19-ce5f4d28bbb4-2323d0d4 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-d8443e65-3bea-4735-61da-c2a5293d73e0-2323d0d4 {
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
}

#w-node-d8443e65-3bea-4735-61da-c2a5293d73e1-2323d0d4, #w-node-d8443e65-3bea-4735-61da-c2a5293d73e6-2323d0d4 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-d8443e65-3bea-4735-61da-c2a5293d73f0-2323d0d4 {
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
}

#w-node-d8443e65-3bea-4735-61da-c2a5293d73f1-2323d0d4, #w-node-d8443e65-3bea-4735-61da-c2a5293d73f8-2323d0d4, #w-node-d8443e65-3bea-4735-61da-c2a5293d73ff-2323d0d4, #w-node-_8abbca83-1c54-ae16-ba56-32d616ab7a3d-16ab7a37, #w-node-_8abbca83-1c54-ae16-ba56-32d616ab7a46-16ab7a37, #w-node-_8abbca83-1c54-ae16-ba56-32d616ab7a51-16ab7a37 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-e415e6dc-7b21-b9e3-ad3f-b369001b2412-c522819b {
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
}

#w-node-e415e6dc-7b21-b9e3-ad3f-b369001b2413-c522819b, #w-node-e415e6dc-7b21-b9e3-ad3f-b369001b2418-c522819b {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-f92930ae-aeed-5500-fdcb-a7b3397a50e0-c522819b {
  grid-template-rows: auto;
  grid-template-columns: 1fr;
}

#w-node-f92930ae-aeed-5500-fdcb-a7b3397a50e1-c522819b {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-fe17b15f-4959-8358-ad64-467325151406-c522819b {
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
}

#w-node-fe17b15f-4959-8358-ad64-467325151407-c522819b, #w-node-fe17b15f-4959-8358-ad64-467325151408-c522819b {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-f086ddea-4ce7-4aef-7038-097c0b91978f-c522819b {
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr 1fr;
}

#w-node-f086ddea-4ce7-4aef-7038-097c0b919790-c522819b {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_05445f3a-4c7d-5d7e-e386-7bb93a6a2511-c522819b {
  grid-template-rows: auto auto;
  grid-template-columns: 1fr;
}

#w-node-_05445f3a-4c7d-5d7e-e386-7bb93a6a2512-c522819b, #w-node-_05445f3a-4c7d-5d7e-e386-7bb93a6a2514-c522819b, #w-node-f086ddea-4ce7-4aef-7038-097c0b919791-c522819b {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_67c432b0-8d45-5c6f-83fa-6dd500b15574-c522819b {
  grid-template-rows: auto auto;
  grid-template-columns: 1fr;
}

#w-node-_67c432b0-8d45-5c6f-83fa-6dd500b15575-c522819b, #w-node-_67c432b0-8d45-5c6f-83fa-6dd500b15577-c522819b, #w-node-c77dca7f-4eaa-61b0-a6a2-a9d10bb86c99-c522819b {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-a44bfcaf-78c9-cf64-a4f4-9f6b4cf8243e-c522819b {
  grid-template-rows: auto auto;
  grid-template-columns: 1fr;
}

#w-node-a44bfcaf-78c9-cf64-a4f4-9f6b4cf8243f-c522819b, #w-node-a44bfcaf-78c9-cf64-a4f4-9f6b4cf82441-c522819b, #w-node-af7a4ea6-3130-3e53-431c-5d90e73659cc-c522819b {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_1d12359a-8f59-69da-93bb-9bddedb04aec-c522819b {
  grid-template-rows: auto auto;
  grid-template-columns: 1fr;
}

#w-node-_1d12359a-8f59-69da-93bb-9bddedb04aed-c522819b, #w-node-_1d12359a-8f59-69da-93bb-9bddedb04aef-c522819b, #w-node-_4f2615f1-fccb-1c4b-ba06-2f1867c63985-c522819b {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_2e9a01cf-b08a-2625-d42e-27167d5a4236-c522819b {
  grid-template-rows: auto auto;
  grid-template-columns: 1fr;
}

#w-node-_2e9a01cf-b08a-2625-d42e-27167d5a4237-c522819b, #w-node-_2e9a01cf-b08a-2625-d42e-27167d5a4239-c522819b, #w-node-c6f9ff22-6051-bd56-0222-903c98712148-c522819b {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_8a850444-e5fd-9933-086e-e3e4e73cc92e-c522819b {
  grid-template-rows: auto auto;
  grid-template-columns: 1fr;
}

#w-node-_8a850444-e5fd-9933-086e-e3e4e73cc92f-c522819b, #w-node-_8a850444-e5fd-9933-086e-e3e4e73cc931-c522819b {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-aab913d9-005d-764b-6995-f490389d7208-341cb231 {
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
}

#w-node-aab913d9-005d-764b-6995-f490389d7209-341cb231, #w-node-aab913d9-005d-764b-6995-f490389d720e-341cb231 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-f92930ae-aeed-5500-fdcb-a7b3397a50e0-341cb231 {
  grid-template-rows: auto;
  grid-template-columns: 1fr;
}

#w-node-f92930ae-aeed-5500-fdcb-a7b3397a50e1-341cb231 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-fe17b15f-4959-8358-ad64-467325151406-341cb231 {
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
}

#w-node-fe17b15f-4959-8358-ad64-467325151407-341cb231, #w-node-fe17b15f-4959-8358-ad64-467325151408-341cb231 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-f086ddea-4ce7-4aef-7038-097c0b91978f-341cb231 {
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr 1fr;
}

#w-node-f086ddea-4ce7-4aef-7038-097c0b919790-341cb231 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_05445f3a-4c7d-5d7e-e386-7bb93a6a2511-341cb231 {
  grid-template-rows: auto auto;
  grid-template-columns: 1fr;
}

#w-node-_05445f3a-4c7d-5d7e-e386-7bb93a6a2512-341cb231, #w-node-_05445f3a-4c7d-5d7e-e386-7bb93a6a2514-341cb231, #w-node-f086ddea-4ce7-4aef-7038-097c0b919791-341cb231 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_67c432b0-8d45-5c6f-83fa-6dd500b15574-341cb231 {
  grid-template-rows: auto auto;
  grid-template-columns: 1fr;
}

#w-node-_67c432b0-8d45-5c6f-83fa-6dd500b15575-341cb231, #w-node-_67c432b0-8d45-5c6f-83fa-6dd500b15577-341cb231, #w-node-c77dca7f-4eaa-61b0-a6a2-a9d10bb86c99-341cb231 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-a44bfcaf-78c9-cf64-a4f4-9f6b4cf8243e-341cb231 {
  grid-template-rows: auto auto;
  grid-template-columns: 1fr;
}

#w-node-a44bfcaf-78c9-cf64-a4f4-9f6b4cf8243f-341cb231, #w-node-a44bfcaf-78c9-cf64-a4f4-9f6b4cf82441-341cb231, #w-node-af7a4ea6-3130-3e53-431c-5d90e73659cc-341cb231 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_1d12359a-8f59-69da-93bb-9bddedb04aec-341cb231 {
  grid-template-rows: auto auto;
  grid-template-columns: 1fr;
}

#w-node-_1d12359a-8f59-69da-93bb-9bddedb04aed-341cb231, #w-node-_1d12359a-8f59-69da-93bb-9bddedb04aef-341cb231, #w-node-_4f2615f1-fccb-1c4b-ba06-2f1867c63985-341cb231 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_2e9a01cf-b08a-2625-d42e-27167d5a4236-341cb231 {
  grid-template-rows: auto auto;
  grid-template-columns: 1fr;
}

#w-node-_2e9a01cf-b08a-2625-d42e-27167d5a4237-341cb231, #w-node-_2e9a01cf-b08a-2625-d42e-27167d5a4239-341cb231, #w-node-c6f9ff22-6051-bd56-0222-903c98712148-341cb231 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_8a850444-e5fd-9933-086e-e3e4e73cc92e-341cb231 {
  grid-template-rows: auto auto;
  grid-template-columns: 1fr;
}

#w-node-_8a850444-e5fd-9933-086e-e3e4e73cc92f-341cb231, #w-node-_8a850444-e5fd-9933-086e-e3e4e73cc931-341cb231 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-c98fffbc-fb03-5a45-8488-ac2af5a02ec8-b3ee52a3 {
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
}

#w-node-c98fffbc-fb03-5a45-8488-ac2af5a02ec9-b3ee52a3, #w-node-c98fffbc-fb03-5a45-8488-ac2af5a02ece-b3ee52a3 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-f92930ae-aeed-5500-fdcb-a7b3397a50e0-b3ee52a3 {
  grid-template-rows: auto;
  grid-template-columns: 1fr;
}

#w-node-f92930ae-aeed-5500-fdcb-a7b3397a50e1-b3ee52a3 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-fe17b15f-4959-8358-ad64-467325151406-b3ee52a3 {
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
}

#w-node-fe17b15f-4959-8358-ad64-467325151407-b3ee52a3, #w-node-fe17b15f-4959-8358-ad64-467325151408-b3ee52a3 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-f086ddea-4ce7-4aef-7038-097c0b91978f-b3ee52a3 {
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr 1fr;
}

#w-node-f086ddea-4ce7-4aef-7038-097c0b919790-b3ee52a3 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_05445f3a-4c7d-5d7e-e386-7bb93a6a2511-b3ee52a3 {
  grid-template-rows: auto auto;
  grid-template-columns: 1fr;
}

#w-node-_05445f3a-4c7d-5d7e-e386-7bb93a6a2512-b3ee52a3, #w-node-_05445f3a-4c7d-5d7e-e386-7bb93a6a2514-b3ee52a3, #w-node-f086ddea-4ce7-4aef-7038-097c0b919791-b3ee52a3 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_67c432b0-8d45-5c6f-83fa-6dd500b15574-b3ee52a3 {
  grid-template-rows: auto auto;
  grid-template-columns: 1fr;
}

#w-node-_67c432b0-8d45-5c6f-83fa-6dd500b15575-b3ee52a3, #w-node-_67c432b0-8d45-5c6f-83fa-6dd500b15577-b3ee52a3, #w-node-c77dca7f-4eaa-61b0-a6a2-a9d10bb86c99-b3ee52a3 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-a44bfcaf-78c9-cf64-a4f4-9f6b4cf8243e-b3ee52a3 {
  grid-template-rows: auto auto;
  grid-template-columns: 1fr;
}

#w-node-a44bfcaf-78c9-cf64-a4f4-9f6b4cf8243f-b3ee52a3, #w-node-a44bfcaf-78c9-cf64-a4f4-9f6b4cf82441-b3ee52a3, #w-node-af7a4ea6-3130-3e53-431c-5d90e73659cc-b3ee52a3 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_1d12359a-8f59-69da-93bb-9bddedb04aec-b3ee52a3 {
  grid-template-rows: auto auto;
  grid-template-columns: 1fr;
}

#w-node-_1d12359a-8f59-69da-93bb-9bddedb04aed-b3ee52a3, #w-node-_1d12359a-8f59-69da-93bb-9bddedb04aef-b3ee52a3, #w-node-_4f2615f1-fccb-1c4b-ba06-2f1867c63985-b3ee52a3 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_2e9a01cf-b08a-2625-d42e-27167d5a4236-b3ee52a3 {
  grid-template-rows: auto auto;
  grid-template-columns: 1fr;
}

#w-node-_2e9a01cf-b08a-2625-d42e-27167d5a4237-b3ee52a3, #w-node-_2e9a01cf-b08a-2625-d42e-27167d5a4239-b3ee52a3, #w-node-c6f9ff22-6051-bd56-0222-903c98712148-b3ee52a3 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_8a850444-e5fd-9933-086e-e3e4e73cc92e-b3ee52a3 {
  grid-template-rows: auto auto;
  grid-template-columns: 1fr;
}

#w-node-_8a850444-e5fd-9933-086e-e3e4e73cc92f-b3ee52a3, #w-node-_8a850444-e5fd-9933-086e-e3e4e73cc931-b3ee52a3 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-f316fa15-b6d5-0252-a2e0-55b43f62845c-0155ccde {
  place-self: center;
}

#w-node-_67723f26-358a-dbb1-5c37-b6c087972d32-df13ba41, #w-node-df521422-ff3a-7029-7c66-b44a8a29ac3d-df13ba41 {
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
}

#w-node-e28086b1-b27c-7132-5a9c-15fb71adacdd-df13ba41, #w-node-_608839ac-f793-211d-d23e-27aacbd4a64e-df13ba41, #w-node-_034c097c-9685-ec3d-7d22-ecbbccbe6705-df13ba41 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

@media screen and (max-width: 991px) {
  #w-node-_00760344-339c-6974-5d19-ce5f4d28bbae-2323d0d4 {
    grid-template-rows: auto;
    grid-template-columns: 1fr;
  }

  #w-node-_00760344-339c-6974-5d19-ce5f4d28bbaf-2323d0d4, #w-node-_00760344-339c-6974-5d19-ce5f4d28bbb4-2323d0d4 {
    grid-area: span 1 / span 1 / span 1 / span 1;
  }

  #w-node-d8443e65-3bea-4735-61da-c2a5293d73e0-2323d0d4 {
    grid-template-rows: auto;
    grid-template-columns: 1fr;
  }

  #w-node-d8443e65-3bea-4735-61da-c2a5293d73e1-2323d0d4, #w-node-d8443e65-3bea-4735-61da-c2a5293d73e6-2323d0d4 {
    grid-area: span 1 / span 1 / span 1 / span 1;
  }

  #w-node-d8443e65-3bea-4735-61da-c2a5293d73f0-2323d0d4 {
    grid-template-rows: auto;
    grid-template-columns: 1fr;
  }

  #w-node-d8443e65-3bea-4735-61da-c2a5293d73f1-2323d0d4, #w-node-d8443e65-3bea-4735-61da-c2a5293d73f8-2323d0d4, #w-node-d8443e65-3bea-4735-61da-c2a5293d73ff-2323d0d4 {
    grid-area: span 1 / span 1 / span 1 / span 1;
  }

  #w-node-e415e6dc-7b21-b9e3-ad3f-b369001b2412-c522819b {
    grid-template-rows: auto;
    grid-template-columns: 1fr;
  }

  #w-node-e415e6dc-7b21-b9e3-ad3f-b369001b2413-c522819b, #w-node-e415e6dc-7b21-b9e3-ad3f-b369001b2418-c522819b {
    grid-area: span 1 / span 1 / span 1 / span 1;
  }

  #w-node-fe17b15f-4959-8358-ad64-467325151406-c522819b {
    grid-template-rows: auto;
    grid-template-columns: 1fr;
  }

  #w-node-fe17b15f-4959-8358-ad64-467325151407-c522819b, #w-node-fe17b15f-4959-8358-ad64-467325151408-c522819b {
    grid-area: span 1 / span 1 / span 1 / span 1;
  }

  #w-node-f086ddea-4ce7-4aef-7038-097c0b91978f-c522819b {
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
  }

  #w-node-f086ddea-4ce7-4aef-7038-097c0b919790-c522819b, #w-node-f086ddea-4ce7-4aef-7038-097c0b919791-c522819b, #w-node-c77dca7f-4eaa-61b0-a6a2-a9d10bb86c99-c522819b, #w-node-af7a4ea6-3130-3e53-431c-5d90e73659cc-c522819b, #w-node-_4f2615f1-fccb-1c4b-ba06-2f1867c63985-c522819b, #w-node-c6f9ff22-6051-bd56-0222-903c98712148-c522819b {
    grid-area: span 1 / span 1 / span 1 / span 1;
  }

  #w-node-aab913d9-005d-764b-6995-f490389d7208-341cb231 {
    grid-template-rows: auto;
    grid-template-columns: 1fr;
  }

  #w-node-aab913d9-005d-764b-6995-f490389d7209-341cb231, #w-node-aab913d9-005d-764b-6995-f490389d720e-341cb231 {
    grid-area: span 1 / span 1 / span 1 / span 1;
  }

  #w-node-fe17b15f-4959-8358-ad64-467325151406-341cb231 {
    grid-template-rows: auto;
    grid-template-columns: 1fr;
  }

  #w-node-fe17b15f-4959-8358-ad64-467325151407-341cb231, #w-node-fe17b15f-4959-8358-ad64-467325151408-341cb231 {
    grid-area: span 1 / span 1 / span 1 / span 1;
  }

  #w-node-f086ddea-4ce7-4aef-7038-097c0b91978f-341cb231 {
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
  }

  #w-node-f086ddea-4ce7-4aef-7038-097c0b919790-341cb231, #w-node-f086ddea-4ce7-4aef-7038-097c0b919791-341cb231, #w-node-c77dca7f-4eaa-61b0-a6a2-a9d10bb86c99-341cb231, #w-node-af7a4ea6-3130-3e53-431c-5d90e73659cc-341cb231, #w-node-_4f2615f1-fccb-1c4b-ba06-2f1867c63985-341cb231, #w-node-c6f9ff22-6051-bd56-0222-903c98712148-341cb231 {
    grid-area: span 1 / span 1 / span 1 / span 1;
  }

  #w-node-c98fffbc-fb03-5a45-8488-ac2af5a02ec8-b3ee52a3 {
    grid-template-rows: auto;
    grid-template-columns: 1fr;
  }

  #w-node-c98fffbc-fb03-5a45-8488-ac2af5a02ec9-b3ee52a3, #w-node-c98fffbc-fb03-5a45-8488-ac2af5a02ece-b3ee52a3 {
    grid-area: span 1 / span 1 / span 1 / span 1;
  }

  #w-node-fe17b15f-4959-8358-ad64-467325151406-b3ee52a3 {
    grid-template-rows: auto;
    grid-template-columns: 1fr;
  }

  #w-node-fe17b15f-4959-8358-ad64-467325151407-b3ee52a3, #w-node-fe17b15f-4959-8358-ad64-467325151408-b3ee52a3 {
    grid-area: span 1 / span 1 / span 1 / span 1;
  }

  #w-node-f086ddea-4ce7-4aef-7038-097c0b91978f-b3ee52a3 {
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
  }

  #w-node-f086ddea-4ce7-4aef-7038-097c0b919790-b3ee52a3, #w-node-f086ddea-4ce7-4aef-7038-097c0b919791-b3ee52a3, #w-node-c77dca7f-4eaa-61b0-a6a2-a9d10bb86c99-b3ee52a3, #w-node-af7a4ea6-3130-3e53-431c-5d90e73659cc-b3ee52a3, #w-node-_4f2615f1-fccb-1c4b-ba06-2f1867c63985-b3ee52a3, #w-node-c6f9ff22-6051-bd56-0222-903c98712148-b3ee52a3 {
    grid-area: span 1 / span 1 / span 1 / span 1;
  }
}

@media screen and (max-width: 767px) {
  #w-node-f086ddea-4ce7-4aef-7038-097c0b91978f-c522819b {
    grid-template-rows: auto auto;
    grid-template-columns: 1fr;
  }

  #w-node-f086ddea-4ce7-4aef-7038-097c0b919790-c522819b, #w-node-f086ddea-4ce7-4aef-7038-097c0b919791-c522819b, #w-node-c77dca7f-4eaa-61b0-a6a2-a9d10bb86c99-c522819b, #w-node-af7a4ea6-3130-3e53-431c-5d90e73659cc-c522819b, #w-node-_4f2615f1-fccb-1c4b-ba06-2f1867c63985-c522819b, #w-node-c6f9ff22-6051-bd56-0222-903c98712148-c522819b {
    grid-area: span 1 / span 1 / span 1 / span 1;
  }

  #w-node-f086ddea-4ce7-4aef-7038-097c0b91978f-341cb231 {
    grid-template-rows: auto auto;
    grid-template-columns: 1fr;
  }

  #w-node-f086ddea-4ce7-4aef-7038-097c0b919790-341cb231, #w-node-f086ddea-4ce7-4aef-7038-097c0b919791-341cb231, #w-node-c77dca7f-4eaa-61b0-a6a2-a9d10bb86c99-341cb231, #w-node-af7a4ea6-3130-3e53-431c-5d90e73659cc-341cb231, #w-node-_4f2615f1-fccb-1c4b-ba06-2f1867c63985-341cb231, #w-node-c6f9ff22-6051-bd56-0222-903c98712148-341cb231 {
    grid-area: span 1 / span 1 / span 1 / span 1;
  }

  #w-node-f086ddea-4ce7-4aef-7038-097c0b91978f-b3ee52a3 {
    grid-template-rows: auto auto;
    grid-template-columns: 1fr;
  }

  #w-node-f086ddea-4ce7-4aef-7038-097c0b919790-b3ee52a3, #w-node-f086ddea-4ce7-4aef-7038-097c0b919791-b3ee52a3, #w-node-c77dca7f-4eaa-61b0-a6a2-a9d10bb86c99-b3ee52a3, #w-node-af7a4ea6-3130-3e53-431c-5d90e73659cc-b3ee52a3, #w-node-_4f2615f1-fccb-1c4b-ba06-2f1867c63985-b3ee52a3, #w-node-c6f9ff22-6051-bd56-0222-903c98712148-b3ee52a3 {
    grid-area: span 1 / span 1 / span 1 / span 1;
  }
}

@media screen and (max-width: 479px) {
  #w-node-fe17b15f-4959-8358-ad64-467325151406-c522819b {
    grid-template-rows: auto;
    grid-template-columns: 1fr;
  }

  #w-node-fe17b15f-4959-8358-ad64-467325151407-c522819b, #w-node-fe17b15f-4959-8358-ad64-467325151408-c522819b {
    grid-area: span 1 / span 1 / span 1 / span 1;
  }

  #w-node-fe17b15f-4959-8358-ad64-467325151406-341cb231 {
    grid-template-rows: auto;
    grid-template-columns: 1fr;
  }

  #w-node-fe17b15f-4959-8358-ad64-467325151407-341cb231, #w-node-fe17b15f-4959-8358-ad64-467325151408-341cb231 {
    grid-area: span 1 / span 1 / span 1 / span 1;
  }

  #w-node-fe17b15f-4959-8358-ad64-467325151406-b3ee52a3 {
    grid-template-rows: auto;
    grid-template-columns: 1fr;
  }

  #w-node-fe17b15f-4959-8358-ad64-467325151407-b3ee52a3, #w-node-fe17b15f-4959-8358-ad64-467325151408-b3ee52a3 {
    grid-area: span 1 / span 1 / span 1 / span 1;
  }

  #w-node-df521422-ff3a-7029-7c66-b44a8a29ac3d-df13ba41 {
    grid-template-rows: auto;
    grid-template-columns: 1fr;
  }

  #w-node-e28086b1-b27c-7132-5a9c-15fb71adacdd-df13ba41, #w-node-_608839ac-f793-211d-d23e-27aacbd4a64e-df13ba41, #w-node-_034c097c-9685-ec3d-7d22-ecbbccbe6705-df13ba41 {
    grid-area: span 1 / span 1 / span 1 / span 1;
  }
}


@font-face {
  font-family: 'Zonapro';
  src: url('../fonts/ZonaPro-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Roobert Pro';
  src: url('../fonts/RoobertPRO-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Roobert Pro';
  src: url('../fonts/RoobertPRO-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Roobert Pro';
  src: url('../fonts/RoobertPRO-SemiBold.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Roobert Pro';
  src: url('../fonts/RoobertPRO-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Zonapro';
  src: url('../fonts/ZonaPro-ExtraLight.otf') format('opentype');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Zonapro';
  src: url('../fonts/ZonaPro-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}